{
  "extends": ["stylelint-config-recommended-scss"],
  "rules": {
    "selector-class-pattern": "^[a-z]([a-z0-9-]+)?(__[a-z0-9]+(?:-[a-z0-9]+)*)?(--[a-z0-9]+(?:-[a-z0-9]+)*)?$",
    "max-nesting-depth": 4,
    "selector-max-compound-selectors": 4,
    "selector-max-id": 1,
    "color-hex-length": "short",
    "declaration-block-no-duplicate-properties": true,
    "value-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "rule-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "declaration-empty-line-before": null,
    "scss/at-mixin-pattern": "^[a-z][a-z0-9-]*$"
  }
}