<footer class="site-footer" role="contentinfo">
  <section class="site-footer__info" aria-labelledby="footer-info-title">
    <h2 class="site-footer__heading" id="footer-info-title">Información de contacto</h2>

    <div class="site-footer__info-container">
      <div class="site-footer__info-block">
        <h3 class="site-footer__title">Contacto</h3>
        <p class="site-footer__text">
          Puede ponerse en contacto con nosotros por correo electrónico
          <a class="site-footer__link" href="mailto:meetingdays@jewelrylab.com">meetingdays@jewelrylab.com</a>
          o por teléfono
          <a class="site-footer__link" href="tel:+34910555555">+34 910 555 555</a>
        </p>
      </div>

      <div class="site-footer__info-block">
        <h3 class="site-footer__title">Dónde estamos</h3>
        <address class="site-footer__text">
          Centro Cultural Matadero<br>
          Plaza de Legazpi, 8<br>
          28045 Madrid
        </address>
      </div>

      <div class="site-footer__info-block">
        <h3 class="site-footer__title">Participa</h3>
        <p class="site-footer__text">
          Si estás interesado en participar en las charlas, los talleres, o quieres vender tus productos en el mercadillo,
          no dudes en ponerte en contacto con nosotros.
        </p>
      </div>
    </div>
  </section>

  <div class="site-footer__main">
    <div class="site-footer__main-container">
      <div class="site-footer__divider" aria-hidden="true"></div>

      <div class="site-footer__content">
        <a class="site-footer__brand" href="index.html" aria-label="Ir a la página de inicio">
          <img class="site-footer__brand-image" src="./assets/images/logo.svg" alt="">
          <span class="site-footer__brand-text">Jewelry Lab</span>
        </a>

        <nav class="site-footer__nav" aria-label="Navegación secundaria">
          <ul class="site-footer__nav-list">
            <li class="site-footer__nav-item">
              <a class="site-footer__nav-link" href="index.html">
                <i class="fa-regular fa-home" aria-hidden="true"></i>
                <span class="site-footer__nav-text">Home</span>
              </a>
            </li>

            <li class="site-footer__nav-item">
              <a class="site-footer__nav-link" href="speakers.html">
                <i class="fa-solid fa-calendar-days" aria-hidden="true"></i>
                <span class="site-footer__nav-text">Programa</span>
              </a>
            </li>

            <li class="site-footer__nav-item">
              <a class="site-footer__nav-link" href="article.html">
                <i class="fa-solid fa-gem" aria-hidden="true"></i>
                <span class="site-footer__nav-text">Conócenos</span>
              </a>
            </li>

            <li class="site-footer__nav-item">
              <a class="site-footer__nav-link" href="joinus.html">
                <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
                <span class="site-footer__nav-text">Únete a nosotros</span>
              </a>
            </li>
          </ul>
        </nav>

        <ul class="site-footer__social-list" aria-label="Redes sociales">
          <li class="site-footer__social-item">
            <a class="site-footer__social-link" href="#" aria-label="Google Plus">
              <i class="fa-brands fa-google-plus-g" aria-hidden="true"></i>
            </a>
          </li>

          <li class="site-footer__social-item">
            <a class="site-footer__social-link" href="#" aria-label="Facebook">
              <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
            </a>
          </li>

          <li class="site-footer__social-item">
            <a class="site-footer__social-link" href="#" aria-label="Twitter">
              <i class="fa-brands fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>

      <footer class="uoc-footer">
        &copy; Universitat Oberta de Catalunya
      </footer>
    </div>
  </div>
</footer>